#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

.forms, .cv {
  padding: 2em;
}

/* .forms {
  /* display: flex; */
  /* flex-direction: column; */
/* } */

.cv {
  background-color: white;
  text-align: left;
  color: black;
  /* width: 210mm;
  height: 297mm; */
  width: 816px;
  height: 1056px;
}

.cv * {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

input, select {
  margin-bottom: 1rem;
}

textarea {
  resize: vertical;
  height: 10rem;
  margin-bottom: 1rem;
}

/* .edit-button {
  display: none;
  margin-top: 0.25em;
  padding: 0.2em 0.8em;
  font-size: 1em;
}

.info-section:hover {
  border: 1px gray dashed;
}

.info-section:hover .edit-button {
  display: block;
} */