#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

.forms, .cv {
  padding: 2em;
}

.forms {
  display: flex;
  flex-direction: column;
}

.cv {
  background-color: white;
  text-align: left;
  color: black;
  width: 210mm;
  height: 297mm;
}

.cv * {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

input, select {
  margin-bottom: 1rem;
}

textarea {
  resize: vertical;
  height: 10rem;
  margin-bottom: 1rem;
}

